{% extends 'layout.html' %}

{% block content %}
  <h3>{{ content_title }}</h3>
  <form method="post">
    <input class="form-control" type="text" name="name" placeholder="Name" value="{{ exercise.name }}">
    <input class="form-control" type="text" name="description" placeholder="Description" value="{{ exercise.description }}">
    <select class="form-select" name="muscle">
      {% for muscle in muscles %}
        {% if exercise.muscle.id == muscle.id %}
          <option value="{{ muscle.id }}" selected>{{ muscle.name }}</option>
        {% else %}
          <option value="{{ muscle.id }}">{{ muscle.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <select class="form-select" name="equipment">
      {% for item in equipment %}
        {% if exercise.equipment.id == item.id %}
          <option value="{{ item.id }}" selected>{{ item.name }}</option>
        {% else %}
          <option value="{{ item.id }}">{{ item.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit" class="btn btn-outline-primary" value="Update">
  </form>
{% endblock %}
