{% extends 'layout.html' %}

{% block content %}
  <h3>{{ content_title }}</h3>
  {% for workout_exercise in workout_exercises %}
    <form>
      <div class="input-group mt-3 mb-1">
        <select class="form-select" disabled>
          {% for exercise in exercises %}
            {% if workout_exercise.exercise.id == exercise.id %}
              <option value="{{ exercise.id }}" selected>{{ exercise.name }}</option>
            {% else %}
              <option value="{{ exercise.id }}">{{ exercise.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <input class="form-control" type="text" placeholder="Notes" value="{{ workout_exercise.notes }}" disabled>
      </div>
    </form>
    {% for set in sets %}
      {% if set.workout.id == workout_exercise.id %}
        <form style="margin-left: 2rem">
          <div class="input-group">
            <span class="input-group-text">Repetitions x Weight</span>
            <input class="form-control" type="text" placeholder="Repetitions" value="{{ set.repetitions }}" disabled>
            <span class="input-group-text">x</span>
            <input class="form-control" type="text" placeholder="Weight" value="{{ set.weight }}" disabled>
          </div>
        </form>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <form method="post">
    <input type="submit" class="btn btn-outline-danger mt-3 mb-3" value="Delete">
  </form>
{% endblock %}

