{% extends 'layout.html' %}

{% block content %}
  <h3>{{ content_title }}</h3>
  {% for workout_exercise in workout_exercises %}
    <form name="{{ workout_exercise.id }}" method="post">
      <div class="input-group mt-3 mb-1">
        <select class="form-select" disabled>
          {% for exercise in exercises %}
            {% if workout_exercise.exercise_id == exercise.id %}
              <option value="{{ exercise.id }}" selected>{{ exercise.name }}</option>
            {% else %}
              <option value="{{ exercise.id }}">{{ exercise.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <input class="form-control" type="text" placeholder="Notes" value="{{ workout_exercise.notes }}" disabled>
      </div>
    </form>
    {% for set in sets %}
      {% if set.workout_exercise_id == workout_exercise.id %}
        <form method="post" style="margin-left: 2rem">
          <div class="input-group">
            <span class="input-group-text">Repetitions x Weight</span>
            <input class="form-control" type="text" placeholder="Repetitions" value="{{ set.repetitions }}" disabled>
            <span class="input-group-text">x</span>
            <input class="form-control" type="text" placeholder="Weight" value="{{ set.weight }}" disabled>
          </div>
        </form>
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% if context == 'exercises' %}
    <form method="post">
      <div class="input-group mt-3 mb-1">
        <select class="form-select" name="exercise">
          {% for exercise in exercises %}
            <option value="{{ exercise.id }}">{{ exercise.name }}</option>
          {% endfor %}
        </select>
        <input class="form-control" type="text" name="notes" placeholder="Notes">
      </div>
      <input type="submit" name="submit" class="btn btn-outline-primary mt-2" value="Add Exercise">
    </form>
  {% elif context == 'sets' %}
    <form method="post" style="margin-left: 2rem">
      <input type="hidden" name="workout_exercise_id" value="{{ workout_exercise_id }}">
      <div class="input-group">
        <span class="input-group-text">Repetitions x Weight</span>
        <input class="form-control" inputmode="decimal" type="text" name="repetitions" placeholder="Repetitions">
        <span class="input-group-text">x</span>
        <input class="form-control" inputmode="decimal" type="text" name="weight" placeholder="Weight">
      </div>
      <div class="mt-3">
        <input type="submit" name="submit" class="btn btn-outline-primary" value="Add Set">
        <input type="submit" name="submit" class="btn btn-outline-success" value="Finish Exercise">
      </div>
    </form>
  {% endif %}
{% endblock %}
